/* body {
    margin: 0;
    background-color: #46244C;
}

#add-task{
position: relative;
text-align: center;
width: 578px;
height: 59px;
left: 351px;
top: 74px;
background: #ffffff;
border-radius: 16px;
}

/* .add-task-field button{
    position: absolute;
    height: 18px;
    width: 16px;
    
    background-color: #ffffff;
} */

/* .add-task-field .arrow {
    position: absolute;
    height: 18px;
    width: 16px;
    top: 96px;
    right: 368px;
    bottom: 607px;
    left: 902px;
    cursor: pointer;
    cursor: pointer;
    background-color: #ffffff;
}


.todo-tasks {
    display: inline-block;
    position: relative;
    padding: 0 auto 0 auto;
    width: 449px;
    height: 59px;
    left: 126px;
    top: 234px;
    border-radius: 16px;
    background-color: #ffffff;
}

.todo-tasks div {
    /* margin: 19 275 19 69; */
    /* margin-top: 19px;
    margin-right: 275px;
    margin-bottom: 19px;
    margin-left: 69px;
}

.todo-tasks input {
    
    margin-top: 21px;
    margin-right: 407px;
    margin-bottom: 20px;
    margin-left: 24px;
}  */ 