body {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;
    background: #38404B;
    border-radius: 65px;
}

::placeholder {
    font-family: 'Ubuntu';
    color: #94ADCFB2;
}

#add-task{
    font-family: 'Ubuntu';
    color: #94ADCFB2;
    padding-left: 25px;
    position: absolute;
    width: 578px;
    height: 59px;
    left: 351px;
    top: 74px;
    background: #38404B;
    box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
    border-radius: 16px;
    
}



#tasks-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.todo-tasks {
    cursor: pointer;
    font-family: 'Ubuntu';
    color:  #94ADCF;
    margin: 25px;
    position: relative;
    align-items: center;
    width: 449px;
    height: 59px;
    left: 126px;
    top: 234px; 
    right: 368px;
    bottom: 607px;
    background: #38404B;
    box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
    border-radius: 16px;
}

.todo-tasks div {
    padding-left: 50px;
    
}

.todo-tasks input {
    opacity: 0;
}

.todo-tasks span {
    margin-top: 20px;
    margin-left: 20px;
    height: 16px;
    width: 16px;
    background-color: #38404B;
    position: absolute;
    border-radius: 50px;
    border: 2.5px solid #94ADCF;
    box-sizing: border-box;
}

.todo-tasks input[type='checkbox']:checked  + div {
    text-decoration-line: line-through;
    color: #94ADCF;
    
}

/* .add-task-field button{
    position: absolute;
    height: 18px;
    width: 16px;
    
    background-color: #ffffff;
} */

/* .add-task-field .arrow {
    position: absolute;
    height: 18px;
    width: 16px;
    top: 96px;
    right: 368px;
    bottom: 607px;
    left: 902px;
    cursor: pointer;
    cursor: pointer;
    background-color: #ffffff;
}


.todo-tasks {
    display: inline-block;
    position: relative;
    padding: 0 auto 0 auto;
    width: 449px;
    height: 59px;
    left: 126px;
    top: 234px;
    border-radius: 16px;
    background-color: #ffffff;
}

.todo-tasks div {
    /* margin: 19 275 19 69; */
    /* margin-top: 19px;
    margin-right: 275px;
    margin-bottom: 19px;
    margin-left: 69px;
}

.todo-tasks input {
    
    margin-top: 21px;
    margin-right: 407px;
    margin-bottom: 20px;
    margin-left: 24px;
}  */ 